[2017-08-01 08:31] freekmurze opened #4 "Use memory cache"
That cache file is kinda sucky. Let's see if the tool work stable when using in memory cache.

[2017-08-01 08:32] freekmurze opened #5 "Do not halt on non-existing directories"
Right now the tool halt when one of the watch directories does not exist. Maybe it's better to give an error but keep running. We could add `app` as a default watch directory to make Laravel users happy.

[2017-08-01 09:32] sebastiandedeyne opened #6 "Look for a dotfile in the user's root folder for config"
Something like `.phpunit-watcher.yml` for a default config.

[2017-08-01 09:32] freekmurze commented on #5
Or maybe don't even show an error. Only show an error if non of the to be watchted dirs exists

[2017-08-01 09:43] freekmurze commented on #6
Excellent idea!

[2017-08-01 12:37] #5 closed

[2017-08-01 12:39] #4 closed

[2017-08-01 21:42] freekmurze commented on #6
I'm thinking if there is a config in the home folder and in the project folder, the config values should be merged.

[2017-08-01 23:52] skyrpex commented on #6
What configuration parameters would be useful to have in the home directory? Can't think of any.

[2017-08-02 00:18] skyrpex commented on #6
My point is how is that reusable between projects for this exact tool? If I were you, I would just look upwards for the first `.phpunit-watcher.yml` file in the directory tree.

If you insist in merging upwards, I suggest adding a `root` option to tell the config reader to stop looking for more files. See [editorconfig's root](http://editorconfig.org/#example-file) and [eslint's root](http://eslin

[2017-08-02 06:18] sebastiandedeyne commented on #6
Having a default set of folders to watch makes sense imo, even if they don't exist it doesn't hurt for them to be there.

Traversing up would be a nice alternative, I think Yarn and NPM do that too.

[2017-08-02 06:23] freekmurze commented on #6
Traversing upwards seems more flexible than just checking the home folder
of a user, let’s do that!

On Wed, 2 Aug 2017 at 08:18, Sebastian De Deyne <notifications@github.com>
wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2017-08-02 19:25] mikeerickson commented on #6
Hey gang, I am attacking this issue, hope to have it ready tomorrow.

[2017-08-02 20:42] mikeerickson commented on #6
@freekmurze Here you go -- https://github.com/spatie/phpunit-watcher/pull/13

[2017-08-02 21:03] mikeerickson opened #14 "Use `config.fileMask` if it exists"
When running watcher, use the `config.fileMask` property when display info

PHPUnit Watcher
===============

 Tests will be rerun when `*.php` **(should be fileMask)** files are modified in the following directories:

![image](https://user-images.githubusercontent.com/183153/28894939-5200a4b8-778b-11e7-9d3e-17e8a5eb7856.png)

[2017-08-02 21:07] mikeerickson commented on #14
@freekmurze  Sorry, my bad here (it is already doing this).

[2017-08-02 21:07] #14 closed

[2017-08-02 22:30] mikeerickson opened #15 "Looking Good..."
@freekmurze  I know this is not an issue, but just wanted to share output with our live test (includes using our phpunit printer) -- https://github.com/mikeerickson/phpunit-pretty-result-printer

![image](https://user-images.githubusercontent.com/183153/28897827-5fe2486e-7797-11e7-977b-148ac14db3ea.png)

[2017-08-02 22:32] mikeerickson opened #16 "Consider feature to include `--testsuite` as part of configuration file"
It would sure be nice if we could include the `--testsuite` as part of the default execution.

[code]

[2017-08-02 22:32] mikeerickson commented on #16
@freekmurze If you are keep to this idea, I can add it.

[2017-08-02 23:26] mikeerickson opened #17 "Consider support --include-group and --exclude-group in configuration file"
In addition to the `testSuites` would also be nice to have `--include-group` and `--exclude-group` options as part of the default execution (as configured in `.phpunit-watcher.yml`).

Currently, I have this configured for each project (in the package composer.json) but I often have grouping and suites running.

watch:
  directories:
    - src
    - tests
  fileMask: '*.php'
  testSuites:
    - uni

[2017-08-03 05:36] freekmurze commented on #15
That looks very good.  But I'm not going to include that result printer by default. People can install it manually if they want it.

[2017-08-03 05:36] #15 closed

[2017-08-03 05:51] freekmurze commented on #16
I want to keep things like default filtering on the testsuite, test name and file name outside of the config file. I feel  that no too many people will use it and I'd like to keep the package simple.

I'm not opposed however to adding an interactive screen where people can set which testsuites to run. I'd probably accept a PR for that.

[2017-08-03 05:51] #16 closed

[2017-08-03 15:06] mikeerickson commented on #15
@freekmurze I am not suggesting you include at all.... Just saying I liked the combination.

[2017-08-03 15:20] mikeerickson commented on #16
@freekmurze your call here ;-)

i have already created a bash script to allow this so not a big deal.  Just thought it would make lives easier (if only mine).

[2017-08-03 15:47] freekmurze commented on #15
The combination looks very good indeed 😄

[2017-08-03 16:05] mikeerickson opened #18 "FEATURE: Display path to config file used"
@freekmurze Would you consider adding the display of the config file that is used?

[code]

[2017-08-03 18:29] freekmurze commented on #6
We'll handle this further in #13

[2017-08-03 18:29] #6 closed

[2017-08-03 18:30] freekmurze commented on #18
If this can be easily added in a clear way I'm ok with it.

[2017-08-03 18:30] #18 closed

[2017-08-03 18:31] freekmurze commented on #17
Thanks for your suggestion. Currently I'm not too open for it, same reasoning as my answer in #16

[2017-08-03 18:31] #17 closed

[2017-08-03 19:39] stvnyung opened #19 "Watcher queue changes during test"
Hello there,

Awesome package, thanks for it, i completely love it 👍

Issue:
I don't know if this issue come from any other package but I will post it here for now.
When executing a pretty slow test suite on a project, it seems like the watcher is taking into account the change I made even when the whole test suite is up and running, which can cause some issue as I hit save a lot and sometimes led

[2017-08-04 07:46] freekmurze commented on #19
Thanks for reporting this. I'll look into it soon.

[2017-08-04 16:34] freekmurze opened #20 "Show desktop notifications"
It would be nice if the tool were to send a notification when the tests succeed/fail.

Integrating [JoliNotif](https://github.com/jolicode/JoliNotif) seems like the way to go.

There also should be a config option in the `phpunit-watcher.yml` to turn off notifications.

[2017-08-04 16:35] sebastiandedeyne opened #21 "Allow default PHPUnit arguments to be set in the config file"

[2017-08-04 18:24] sebastiandedeyne commented on #16
We'd like to add an option to add a set of PHPUnit arguments to the config file (#21)

That would resolve this issue!

[2017-08-04 20:04] mikeerickson opened #22 "Issue with install latest version"
As you can see by the screenshot below, something is amiss as it relates to using the `--version` flag.

![image](https://user-images.githubusercontent.com/183153/28985003-6475f144-7915-11e7-94b7-dd53aeb44e66.png)

During install, it appears that latest version (1.1.0 at the time of submission) however, checking version `phpunit-watcher --version` it still reports v1.0.4

[2017-08-04 20:06] mikeerickson commented on #22
Appears version is hardcoded, thinking version string should be set in the package composer.json

[code]

[2017-08-04 22:02] vyuldashev commented on #20
@freekmurze Looks like the feature is completed. Waiting for your feedback.

[2017-08-05 08:04] freekmurze commented on #22
Do you know how to make this number dynamic?

[2017-08-05 08:45] freekmurze commented on #20
We'll handle this further in #23

[2017-08-05 20:26] #22 closed

[2017-08-05 20:26] freekmurze commented on #21
Done 🎉

[2017-08-05 20:26] #21 closed

[2017-08-05 20:26] freekmurze commented on #20
Done 🎉

[2017-08-05 20:26] #20 closed

[2017-08-08 08:41] sebastiandedeyne opened #33 "Create a plugin system"
To add custom commands to the project

[2017-08-08 08:42] sebastiandedeyne opened #34 "When filtering a test or file name, hitting escape should cancel"

[2017-08-08 08:55] sebastiandedeyne opened #35 "Autocomplete paths when filtering by file name"

[2017-08-08 08:55] sebastiandedeyne opened #36 "Show previous patterns when hitting arrow up in pattern inputs"

[2017-08-09 08:54] AlexVanderbist opened #37 "Add flag to stop tests from running on start"

[2017-08-09 11:34] AlexVanderbist opened #38 "Key listener stops working after pressing a non-existing hotkey"

[2017-08-09 16:38] freekmurze commented on #38
Fixed

[2017-08-09 16:38] #38 closed

[2017-08-10 23:17] simonhunt opened #42 "Add a flag to rerun Dusk tests instead of pure PHPUnit tests."
It would be nice if:

[code]

ran Dusk tests instead.

[2017-08-10 23:38] #42 closed

[2017-08-16 21:12] freekmurze opened #44 "Tests run too many times"
The watcher sometimes runs the tests too many times.

Steps to reproduce:
- start the watcher
- change a watched file
- manually trigger a test run

This will result in the tests being run multiple times...

[2017-08-22 19:29] mikeerickson opened #45 "Version info does not match tagged version"
Hey there, just a soft nudge that the version is out of sync again :-)

FWIW, I store the `version` in `composer.json` and then directly read from there.  I know it is a pain to keep them in sync with what `packagist.org` shows, guess that is part of software development.
Thanks for this package though, I have gotten great use from it!

Let me know if you want a contribution on this item.

[code]

[2017-08-22 21:06] freekmurze commented on #45
I've removed the version number in the current master. It's too bothersome to update.

`composer global show` will always shows the correct version number anyways.

[2017-08-22 21:06] #45 closed

[2017-08-23 15:35] #44 closed

[2017-09-01 13:51] ricardocino opened #47 "Notice while running watcher"
I've been working with the watcher for the past 30 mins and multiple times I've seen this notice in the result. First time was after using the filter function ( below key t ) and for the second time was after running all the tests.

The notice is the following:

`PHP Notice:  Undefined index: notifications in /Users/ricardocino/.composer/vendor/spatie/phpunit-watcher/src/Screens/Phpunit.php on lin

[2017-09-13 03:38] dwikip opened #48 "TTY mode is not supported on Windows platform"
Hi,
Im trying to use phpunit-watcher in windows machine, but got error

can i do something to make it work in windows?

Thanks

[2017-09-13 16:48] freekmurze commented on #48
I'm not a Windows user, so I don't know.

[2017-09-13 16:48] #48 closed

[2017-10-06 08:13] jadsalhani commented on #47
Having the same issue with the package installed locally inside the project. Happened after an error with the filtering function it seems.

**Stacktrace**

[code]

[2017-10-06 08:28] freekmurze commented on #47
Currently the interactive filtering options are a bit buggy. I'll try to stabilize it a bit in the future. I welcome PRs that improve this.

[2017-10-06 08:43] jadsalhani commented on #47
Will surely try to help 👍

[2017-10-11 12:33] nagaxiii commented on #47
It is indeed a weird bug. When I dumped out the `$this->options` from the `src/Screens/Phpunit.php` it turned out to be NULL sometimes during filter mode (I couldn't figure out the root cause yet).

I quick fix could be to explicitly set the
[code]
in the `.phpunit-watcher.yml` file.

I hope it helps until the real resolution. :)

[2017-10-24 19:46] NigelGreenway opened #51 "Installation error with deps requirements"
So, just tried to install and got this issue below:

![image](https://user-images.githubusercontent.com/2984008/31964389-c5bfde76-b8fb-11e7-90dc-c76e87877c5d.png)

Using PHP `7.1.10` and lastest composer.

[2017-10-24 19:53] NigelGreenway commented on #51
Further testing found that my "issue" was that I had already installed `react/http` which would let me install this package.

[2017-10-25 19:20] thinkspill opened #53 "High-ish CPU load when idle"
Hello! Thanks for this awesome utility. I've really enjoyed having it in my workflow.

Background: Running `phpunit-watcher` without any custom config, inside a php 7.1/ubuntu16-based Docker container.

While troubleshooting some PHPStorm sluggishness, I noticed that when `watch` idles between test runs, the CPU usage for that container as reported by `docker stats` ranges between 15-20%. Quitting

[2017-11-01 23:17] clue commented on #51
This installation issue is due to the fact that clue/stdio-react needs an update to support latest ReactPHP packages: https://github.com/clue/php-stdio-react/issues/50

[2017-12-22 18:34] mfour-merickson opened #54 "Keystroke options dont work when watcher executed from composer script"
As developer, if I launch the Watcher command from a composer.json script, the keyboard watcher does not work

[code]

[code]

The actual keystroke is sent to the console, but the actions are not triggered

![image](https://user-images.githubusercontent.com/31225533/34308762-a5a89e1c-e703-11e7-86a4-24f178707eb2.png)

[2017-12-22 18:43] mfour-merickson commented on #54
I have figured this one out (here is the trick in the event someone else has the problem)

[code]

[2017-12-22 18:43] #54 closed

[2018-01-09 00:00] maxcountryman commented on #51
I have a similar issue where composer is complaining about `symfony/console ^3.0` ... `Conclusion: don't install symfony/console v4.0.3`. 😕

[2018-01-10 10:18] freekmurze commented on #51
The deps of this package are now a bit less restrictive.

[2018-01-10 10:18] #51 closed

[2018-01-10 19:10] maxcountryman commented on #51
I'm still seeing problems:

[code]

[2018-02-08 04:37] faustbrian opened #55 "yosymfony/Resource-watcher outdated"
This package relies on https://github.com/yosymfony/Resource-watcher which prevents using it in Laravel 5.6 because it doesn't allow Symfony 4.0.

Package looks unmaintained so might be time to fork it or integrate it directly into the package?

[2018-02-08 08:55] sanyatuning opened #56 "Add support for php 5.5.9 and phpunit 4.8"

[2018-02-08 16:41] sebastiandedeyne commented on #56
We're not planning to add support for older PHP versions. If you need this, feel free to fork and update the package as necessary.

[2018-02-08 16:41] #56 closed

[2018-02-10 15:36] erikgaal commented on #55
Made a PR to add Symfony 4 support. yosymfony/resource-watcher#5

[2018-02-10 15:52] faustbrian commented on #55
Would probably be better to integrate this packages functionality into the core to prevent this from happening in the future, especially with how unmaintained that package is.

[2018-02-10 15:54] erikgaal commented on #55
I agree with you completely, @faustbrian, I'll look into it.

[2018-02-25 10:49] ntwb opened #60 "Enter key not working when typing filters"
When attempting to filter tests by test or file name pressing the "Enter" key has no effect.

Pressing "Enter" at the default screen correctly triggers a "test run" where all tests are run.

[2018-03-02 12:18] #55 closed

[2018-03-21 10:40] Spy-Seth opened #61 "Fail to detect the phpunit path if composer `bin-dir` config is used"
It seems that `phpunit-watcher` is failling to detect the phpunit path when composer is configured to move the binaries outside the `vendor` directory:
[code]

The `phpunit-watcher` will output:

[code]

It could be a good idea to use the `config.bin-dir` value to determine the composer binary direcotry path

[2018-04-17 12:48] beyondcompute opened #63 "Symfony process ProcessTimedOutException"
Hello!

I am getting this while running `phpunit-watcher`:
[code]

Symfony 4.0.0

[2018-04-24 09:32] stijink opened #64 "Only run tests for changed files ?"
Hi,

i just found this package. First of all thank you for that. Looks promising.

I already found that there is a pull request for not running the tests on initial startup, which is great.

But what i found out is, that `phpunit-watcher` re-runs all of my tests whenever any test changes. Having lots of tests this is rather time-consuming.

I'm aware that i could set a filter. But during developme

[2018-04-24 13:52] freekmurze commented on #64
That isn't supported. If this behaviour can be easily added to the package, I'd accept a PR for this.

[2018-04-24 13:52] #64 closed

[2018-04-25 11:39] stijink commented on #64
@freekmurze Thank you for the reply. Maybe i'll look into it.

[2018-06-07 17:35] lonnylot opened #66 "Ability to change binary and config locations/files"
Right now the config file is hardcoded to `.phpunit-watcher.yml` and the binary is hardcoded to `vendor/bin/phpunit`

There are other programs that use `phpunit` and wrap custom functionality (or shortcuts) around it. An example is [Laravel Dusk](https://laravel.com/docs/5.6/dusk)

It would be helpful if we could configure both the config file to use and the binary. Configuring the binary is also

[2018-06-19 03:32] jaceju commented on #60
Hi, @ntwb
Do you put the command `vendor/bin/phpunit-watcher watch` in composer `script` section?
If it is, just run `vendor/bin/phpunit-watcher watch," and the filter keys should work.

[2018-07-09 09:17] mykeels commented on #63
@beyondcompute I got around this by wrapping phpunit-watcher with [nodemon](https://github.com/remy/nodemon).

[code]

Where `composer watch` is defined in my `composer.json` scripts as

[code]

[2018-07-17 07:37] romainnorberg commented on #66
hello @lonnylot

I'm interested for this config option, the projects I'm working on integrate Phpunit as a vendor _(so the binary is located `./vendor/phpunit/phpunit/phpunit`)_

We can work together for implementation if you're interested

[2018-07-17 08:04] mykeels commented on #63
Hey, @beyondcompute ... I found that setting the `--timeout` flag to 0 makes it run forever, so you may not have to wrap it with `nodemon` after all.

[code]

[2018-07-17 09:13] MladenJanjetovic opened #67 "can't install globaly"
Hi,

Trying to install your package for the first time. I wanted to inststal with
`composer global require spatie/phpunit-watcher`

But I am getting an error:

[code]

[2018-07-17 09:41] romainnorberg commented on #61
Duplicate of #66 ?

[2018-07-17 15:53] freekmurze commented on #61
Duplicate of #66 indeed

[2018-07-17 15:53] #61 closed

[2018-07-18 20:42] lonnylot commented on #66
Hey @romainnorberg  - I hacked together something for myself, but it's a mess. It's not complete, but let me clean it up a bit and I'll post an initial draft shortly.

[2018-07-19 14:29] beyondcompute commented on #63
Thanks again @mykeels! Thatʼs really good advice!

[2018-07-19 16:43] freekmurze commented on #67
Probably you have another package in your global dependencies that are preventing this package from being installed globally.

If you need those other dependencies, take a look at https://github.com/consolidation/cgr

[2018-07-19 16:43] #67 closed

[2018-07-28 01:37] freekmurze commented on #35
This is now available in the latest version.

[2018-07-28 01:37] #35 closed

[2018-08-30 21:59] joaoeduardo commented on #63
This flag doesn't work for me

[2018-09-01 06:42] freekmurze commented on #63
Closing this, as this is solved for most people.

[2018-09-01 06:42] #63 closed

[2018-09-07 05:43] romainnorberg commented on #66
thanks @lonnylot

[2018-09-13 09:03] oligus opened #72 "exceeded the timeout of 300 seconds"
[code]
This was talked about in #63, the thread was closed but there was no resolution, the proposed solution did not work on version 1.60:

[code]

[2018-09-13 13:40] oligus commented on #72
Alltough the timeout option does not exist, this is a timeout from  composer and it can be extended by:

[code]

[2018-09-13 13:40] #72 closed

[2018-09-27 08:30] sg3s opened #73 "PHPUnit arguments configured are wiped if 'a' is used"
Due to a line in option `a` all arguments configured are wiped. I believe this is inconsistent and it should not be the case.

The following line causes the arguments to be wiped from a run, and all subsequent runs:
https://github.com/spatie/phpunit-watcher/blob/master/src/Screens/Phpunit.php#L41

If you use 'Enter' to re-run the initial tests it does not wipe the arguments. But if you use 'a' onc

[2018-09-27 15:59] freekmurze commented on #73
Feel free to submit a PR for this!

[2018-09-27 16:01] sg3s commented on #73
@freekmurze Should the functionality be the same then?

Because then I will just update the switch to group 'Enter' and 'a' options.

[2018-09-27 16:05] freekmurze commented on #73
`a` should clear out all options set by `g`, `s`, `t` and `p`.

[2018-09-27 16:09] sg3s commented on #73
Aah, okay, so that explains the difference / purpose of 'a' vs 'Enter'. We're not really using those screens actively, found them to be buggy and couldn't easily find out what was wrong so we left them alone. Our main use case is just running all/changed tests on changes.

I will have to take a look to see how that is fixable then, no guarantees for a PR :)

[2018-09-27 21:43] freekmurze commented on #73
No problem! It's open source, I'm grateful for any PRs that improve the code, but don't feel yourself obligated in any way.

[2018-09-27 21:43] #73 closed

[2018-10-17 08:54] I2olanD commented on #60
@jaceju this issue still occur. I added following script to my composer json.
    `"test:watch": "./vendor/bin/phpunit-watcher watch"`.
when i run `composer run test:watch` the keys are not working. Any suggestion?

[2018-10-21 12:56] vesper8 opened #76 "desktop notifications not working on OSX Mojave"
I opened this issue already but figured I'd post here as well since you may know the answer

https://github.com/jolicode/JoliNotif/issues/57

this is the contents of my .phpunit-watcher.yml

[code]

and I'm using iTerm on OSX Mojave

[2018-10-21 13:02] freekmurze commented on #76
I can’t reproduce this. It’s working perfectly here. (Using Mojave too)

[2018-10-21 13:07] vesper8 commented on #76
Reading https://jolicode.com/blog/desktop-notification-in-php led me to try terminal-notifier manually which led to an error

After reinstalling it with ```brew install terminal-notifier```

and then having to run
[code]

Now it's working :)

No idea why I had to do all that.. this is an old installation that I've been updating since Yosemite

[2018-10-21 13:07] #76 closed

[2018-11-24 14:48] adalessa commented on #60
@ntwb I know it's a bit late but I have the same issue, but pressing shift+enter works for me

[2018-11-27 08:31] freekmurze commented on #60
I'd accept a PR that fixes this.

[2019-01-07 05:41] romainnorberg commented on #66
hello @freekmurze this issue can be closed

Best wishes!

[2019-01-07 07:58] #66 closed

[2019-01-07 07:58] lonnylot commented on #66
@romainnorberg Thanks for not being lazy and throwing this together :)

[2019-01-10 15:03] TuxBoy opened #78 "Could not start watcher"
Hello,
When I try to run the `phpunit-watcher watch` it returns an error:
[code]
With return 255 code.

There is a configuration to make it work?

Thank you.

[2019-01-10 16:55] cs278 commented on #78
Basically #77 has updated to new major versions of a few deps that are not supported, the whole PR should be reverted.

You work around this by requiring `spatie/phpunit-watcher` version `1.8.0` or conflicting against `1.8.1`.

[code]

[2019-01-10 22:50] freekmurze commented on #78
I've tagged a new version 1.8.2 that doesn't contain the changes of #77

[2019-01-10 22:50] #78 closed

[2019-02-19 23:46] bj97301 opened #81 "only running once"
Getting the following response when running `vendor/bin/phpunit-watcher watch`.  I expect it to not exit after the first run.

[code]
config:
[code]

[2019-02-21 19:30] dqr79 commented on #81
for me it doesn't even run once - if I just run it without the watch command, it shows the help message, the help command also works, but if I run the watch command it gets stuck - even though I'm able to run phpunit itself without issues. Not even sure where to look for errors as I'm not getting any error messages - it just hangs, and I have no clue what's happening.

[2019-02-21 19:43] bj97301 commented on #81
Got a config file in your directory?  It might not know where your tests are.

[2019-02-24 12:12] rogeriopradoj opened #82 "Error "Unable to set stream resource to non-blocking mode" In ReadableResourceStream.php line 56:"
- Error output:
[code]
- S.O.:  Windows 10
- How I installed the package: `composer require spatie/phpunit-watcher --dev`
- Command (the result error is the same):
    - `vendor/bin/phpunit-watcher watch` (git-bash)
    - or `vendor\bin\phpunit-watcher watch` (cmd)
- Using a configuration file: yes, `.phpunit-watcher.yml`
- Content of configuration file:
[code]

References:

- https://github.com/r

[2019-03-22 11:30] jmsosso opened #83 "Remove help messages"
Hi,

Any way to hide the help messages shown at the end of the phpunit execution?

I want to have it running in a vscode terminal and that messages takes the half of the panel height :)

![image](https://user-images.githubusercontent.com/7966541/54819980-eeb61e80-4c9d-11e9-9bba-ce71d82b4029.png)

Thanks.

[2019-03-22 15:45] freekmurze commented on #83
I'd accept a PR that adds a config value to hide these help messages.

[2019-05-07 18:31] AnderSouza commented on #82
I've got the exact same problem here.

Anyone knows how to solve this?

[2019-05-11 20:07] clue commented on #82
Due to platform inconsistencies, PHP does not provide support for reading from standard console input without blocking on Windows. Unfortunately, until the underlying PHP feature request is implemented (which is unlikely to happen any time soon), there's little we can do in the library responsible for handling console I/O, see https://github.com/clue/reactphp-stdio/issues/18. If anybody feels like

[2019-06-24 10:01] #81 closed

[2019-07-03 17:53] amacrobert commented on #64
I was just about to open a feature request for this. It's the default behavior of [this PHPUnit watch](https://github.com/slavahatnuke/hot-phpunit-runner). I do find spatie/phpunit-watcher to be more responsive and fully featured though, so it would be great if automatically running only the corresponding tests were a feature here too.

I'll try to make some time to implement it myself and open a

[2019-07-16 12:04] fotonmoton opened #86 "wrong constructor paremeter for Symfony\Component\Process\Process"
[code]

[code]

similar [issue](https://github.com/laravel/framework/issues/27602)

[2019-07-20 16:16] yjv-XCV opened #88 "phpunit-watcher failed to execute phpunit"
Greetings,

This is the error I get

[code]

It seem it state that my phpunit is not exists.
However, when I execute with */myprojectpath/vendor/bin/phpunit* it works just fine.

I'd tried with default setting, and also use customised path for phpunit using phpunit-watcher.yml
with phpunit path set to
*vendor/bin/phpunit*
*vendor/phpunit/phpunit/phpunit*
Both are not working for phpunit-watcher, b

[2019-07-20 20:22] xipasduarte commented on #88
I have the same issue. I'm using PHP 7.2, everything ele is the same as @yjv-XCV.

[2019-07-21 09:47] yjv-XCV commented on #88
I actually found where the problems came from, but have no idea how to fix it.
in *vendor/symfony/process/Process.php*:229
[code]
The command line is received from
*vendor/spatie/phpunit-watcher/src/Screens/Phpunit.php*:93
which is combination of *phpunitBinaryPath* and *phpunitArguments*.
However the problem lies when it execute exec, it take the space, and the arguments as part of the file name.

[2019-07-21 10:04] yjv-XCV commented on #88
After I modify
*vendor/spatie/phpunit-watcher/src/Screens/Phpunit.php*:93
from
[code]
to
[code]

it works fine.
Not sure if it will break other logic of the application.

[2019-07-21 10:22] xipasduarte commented on #88
That's great @yjv-XCV. This change works for me too.

I dug a little deeper in the docs for Symfony Process and according to the documentation since [v3.4](https://symfony.com/doc/current/components/process.html) that's how it should be, the command separate from the arguments. Only from [v3.3](https://symfony.com/doc/3.3/components/process.html) below do we find the signature that is in phpunit-w

[2019-07-22 13:08] freekmurze commented on #88
Fixed in latest version.

[2019-07-22 13:08] #88 closed

[2019-08-02 06:05] #83 closed

[2019-08-02 06:06] jmsosso commented on #83
Checked with hideManual: true and works as expected :)

[2019-08-02 07:19] rubenvanassche commented on #86
Hi @fotonmoton, can you check if the newest version 1.11.0 is working fine for you?

[2019-08-02 11:10] fotonmoton commented on #86
@rubenvanassche now I can run watcher but sometimes I get segmentation error:
![image](https://user-images.githubusercontent.com/7763084/62366353-4f4c4680-b52f-11e9-9d52-f7827b0225eb.png)

[2019-08-02 11:21] fotonmoton commented on #54
I think @mfour-merickson`s trick should be in docs

[2019-08-02 11:54] rubenvanassche commented on #86
Hi @fotonmoton i've tested some projects of ours and they seem to be working fine without segfaults. We only changed how a `symphony/process` is constructed (by using an array of arguments instead of a string). I don't think this could create problems like this. Can you investigate a bit more? Because I've no idea how this one could pop up.

I will close this issue for now but feel free to create

[2019-08-02 11:54] #86 closed

[2019-08-02 16:03] fotonmoton opened #91 "phpunit arguments do not preserved after filter"
If you press `t` and input filter pattern watcher do not preserve phpunit arguments.
before filter:
![image](https://user-images.githubusercontent.com/7763084/62383268-15436a80-b558-11e9-8df6-6f1d8b96009e.png)
after:
![image](https://user-images.githubusercontent.com/7763084/62383320-28eed100-b558-11e9-8c9d-a0a2c8ecc49b.png)

[2019-08-02 16:04] fotonmoton commented on #91
I can specify all options in phpunit.xml config file but `--colors=always` should be passed as argument to work.

[2019-08-02 23:47] freekmurze commented on #91
Currently I don't have time to take a look at this, but feel free to submit a PR for this.

[2019-08-02 23:47] #91 closed

[2019-09-09 13:38] obstschale opened #93 "Use random seed"
We use phpunit-watch in one of our projects. So first things first, Thank you!!!

Recently, we started to run our tests in random order (recommendation by Sebastian Bergmann). This showed us a lot of potential bugs, because some tests were depending each other.

It would be very helpful to use phpunit-watcher during decoupling those tests, but this requires to run tests in the same order given a r

[2019-09-09 13:55] freekmurze commented on #93
I don't have time to look into this now, but if you submit a simple PR, I'll consider merging it. 👍

[2019-09-09 13:55] #93 closed

[2019-09-25 20:44] spaceemotion commented on #48
@dwikip you can try to use the VSCode terminal instead (MingW seems to work fine as well).

[2019-10-06 22:42] didaquis opened #96 "Fatal error: Uncaught Error: Call to private method Clue\React\Stdio\Readline::deleteCha"
I am getting this error while trying to run the tests.
Can anyone help me?

I have phpunit-watcher installed locally.
[code]

[2019-10-09 09:51] JayBizzle commented on #96
Have you updated to the latest `phpunit-watcher` version?

Probably related to this - https://github.com/spatie/phpunit-watcher/pull/94

[2019-10-23 20:58] iandunn commented on #63
This worked for me in `composer.json`, for version `1.11.1`:

[code]

I tried setting the env var for just the `test:watch` task...

[code]
...but couldn't get that working 🤷‍♂

[2019-11-12 23:21] didaquis commented on #96
Yes. Do you have another idea to fix my problem?

[2020-01-08 21:35] thiagolcks opened #107 "Conflict with Valet dependencies when installing globally"
Hi,

When I tried to install it globally I get the following error:
[code]

The only package that I've installed globally was Valet (and its dependencies):
[code]

[2020-01-09 07:53] freekmurze commented on #107
That's strange, but this package and valet allow both symfony 4 and 5 components. I think you should figure out why symfony/process v3 is selected.

If there is anything that can be done in our package to fix this, I'd accept a PR.

[2020-01-09 12:54] thiagolcks commented on #107
I've found the issue! The dependency `jolicode/jolinotif` does not support  Symfony Process v5 that was installed by Valet, as you can see here:

https://github.com/jolicode/JoliNotif/blob/master/composer.json

I'll open this issue there, but until it's changed this package won't work properly with Valet.

[2020-01-09 23:53] freekmurze commented on #107
Thanks for opening an issue at their end.

I'm going to close this issue here as our package probably won't need to be updated to fix this.

[2020-01-09 23:53] #107 closed

[2020-03-13 11:01] #96 closed

[2020-04-02 00:40] phily245 opened #108 "Allowing testdox after filtering"
When I pass in the `--testdox` flag into the initial command from the CLI, I get my results shown in the nice testdox format. When I use a filter, I then lose that flag and it reverts back to the standard PHPUnit output.

I can see two options for a feature here:

- Preserving all none filter flags from the initial command line argument
- Adding a testdox screen

Happy to have a crack at this myse

[2020-04-02 09:50] freekmurze commented on #108
Seems the simplest solution. Go for it!

[2020-04-02 09:50] #108 closed

[2020-04-27 06:42] NicklasWallgren commented on #72
https://getcomposer.org/doc/articles/scripts.md

**To disable the timeout for every script on a given project, you can use the composer.json configuration.**

[code]

[2020-05-10 23:31] 181 opened #109 "No notification on Windows system?"
Hi, can anyone confirm that there is no notification on windows system, and the only way to quit the watcher is close the terrminal panel as there is no interaction supported? Thanks.

[2020-05-11 04:12] leighman opened #110 "Crash when attempting to use"
- Install version 1.10 with composer
- Add a phpunit-watcher.yml
[code]
- phpunit-watcher presents options
- Press `p`
- Nothing happens
- Press `Enter`

Crash:
[code]

[2020-05-11 22:47] leighman commented on #110
Now wondering why composer chose 1.10...

[2020-05-15 15:26] kharysharpe opened #111 "Wait for path to be recreated"
Hey,

I have an issue where I am testing code generated and frequently blow away the folder to generate fresh code, this gives the following error:

[code]

It would be good to have an option to wait for path to exist similar to ```tail -F | tail --retry```

Would this be a good addition?

[2020-05-15 19:31] freekmurze commented on #111
Feel free to PR this. 👍

[2020-05-15 19:31] #111 closed

[2020-06-16 00:04] iandunn opened #113 "Exclude subfolders"
I've noticed that the watcher slows down a lot (5+ seconds) if I add some large folders to the `directories` setting.

It's still slow even with `fileMask: '*.php'`. I think it might be getting overwhelmed by things like `node_modules`. Is there any way to ignore some subfolders?

[2020-06-16 08:57] notflip opened #114 "Cannot redeclare composerRequireb11547267c7e277f051472ea89485cca"
[code]

I tried installing both globally and local, running with `vendor/bin/phpunit-watcher watch`, but both optios gave me this error

![Screenshot 2020-06-16 at 10 57 29](https://user-images.githubusercontent.com/4146384/84754115-32422a00-afc0-11ea-81db-637cbf61d063.png)

[2020-06-16 15:12] freekmurze commented on #113
Currently there isn't, but I'd accept a PR that adds this.

[2020-06-16 19:40] iandunn commented on #113
🤔

My first thought was looking at Finder's `exclude()` method, but the docs say,

If I'm reading that right, then it seems like it'd add some unwarranted complexity here, since there'd be conflicts between folders. e.g., What if I want to include `./foo/` and `./bar/`, but ignore `./foo/quix` while _not_ ignoring `./bar/quix`.

It seems like there's some lower-hanging fruit that might solve the p

[2020-06-16 20:03] freekmurze commented on #113
Sounds good, feel free to PR improvements!

On Tue, 16 Jun 2020 at 21:40, Ian Dunn <notifications@github.com> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2020-06-17 15:04] iandunn commented on #113
Actually, this turned out to be different than I expected. It looks like `ResourceWatcher` and `Watcher` are both built on the assumption that only 1 `Finder` will be needed, and `Finder` doesn't allow manually pushing files onto it's stack.

So, I think `Watcher` would need to be refactored to support both a `Finder` object and an array of already-known files, or two `Finder` objects.

I was able

[2020-06-19 16:16] iandunn opened #117 "Shortcuts for interactive filters would be convenient"
If I want to filter to the `sunrise` group, it'd be nice to just type `g sunrise <Enter>`, rather than having to go through the additional screen. The same applies to other filters as well.

[2020-06-20 23:10] freekmurze commented on #117
Feel free to PR improvements 👍

[2020-06-20 23:10] #117 closed

[2020-08-11 20:35] mr-feek commented on #53
I'm also seeing this when using a docker container -- phpunit-watcher (when idle) is eating up  120% of my cpu

[2020-09-11 10:01] #109 closed

[2020-09-14 10:01] #110 closed

[2020-10-19 10:02] #113 closed

[2020-10-19 10:02] #114 closed

[2020-11-18 21:47] arye-dov-eidelman opened #126 "What is the limit on how many files it can watch without freezing?"
If there are too many files to watch the watcher becomes unresponsive after the first run and won't run any more tests.

Any idea of how many files this can watch?
Are there ways to configure this amount?

[2020-11-18 21:58] freekmurze commented on #126
If have no idea really 🙂, I've never hit any limit.

[2020-11-18 21:58] #126 closed

[2020-11-30 13:29] ricardogobbosouza opened #127 "PHP 8"
Release forecast for php 8 support?

[2020-11-30 13:30] ricardogobbosouza commented on #127
/cc @freekmurze

[2020-11-30 13:32] freekmurze commented on #127
Feel free to send a PR, make sure all tests pass.

[2020-11-30 13:32] #127 closed

[2020-11-30 13:38] ricardogobbosouza commented on #127
@freekmurze
Actually it already has support https://github.com/spatie/phpunit-watcher/blob/master/composer.json#L19
So we don't have a version = /

[2020-11-30 13:51] freekmurze commented on #127
Ah, just tagged a new version 👍

[2020-12-22 17:22] iandunn opened #128 "Watching is extremely slow with Xdebug enabled, and it can't be disabled"
Xdebug can make PHPUnit very slow, so I run PHPUnit with it turned off:

`php -d xdebug.mode=off ./vendor/bin/phpunit`

I can't find a way to do that for phpunit-watcher, though.

Configuration directives passed like `php -d xdebug.mode=off ./vendor/bin/phpunit-watcher watch` don't get passed on to new `Process` instances. The `phpunit.arguments` option is for PHPUnit, rather than PHP.

It seems l

[2020-12-22 22:25] iandunn commented on #128
Ah, nevermind, phpunit accepts a `-d` argument and launched php with it, so putting this in `phpunit-watcher.yml.dist` works:

[code]

[2020-12-22 22:25] #128 closed

[2020-12-23 15:08] iandunn commented on #128
For anyone else running into this, I also ended up adding this to `phpunit.xml.dist`:

[code]

That adds some overhead, but can prevent a memory leak or other bug from snowballing.

[2021-01-04 20:04] iandunn commented on #128
Actually, it looks like process isolation is only needed for `phpunit-watcher`, so I removed it from `phpunit.xml.dist` and put it in `phpunit-watcher.yml.dist` instead:

[code]

That way running `phpunit` is fast. `phpunit-watcher` is still slow, though.

That may indicate a bug of some kind in `phpunit-watcher` or one of its dependencies, but it'd be something that only appears in some environme

[2021-01-12 21:11] iandunn opened #129 "PHPUnit arguments from config are wiped out when changing group"
### Reproduction Steps

1. Add PHPUnit arguments to `phpunit-watcher.yml.dist`:
[code]

1. Start `phpunit-watcher`, and see the expected output:

1. Use the menu to change the `group` (or `filter`, `file`, etc)
1. See that `phpunit-watcher.yml.dist` arguments are no longer used:

In one of my codebases, that makes `phpunit-watcher` unusable, because the config arguments are required on every run (

[2021-01-19 15:16] iandunn commented on #129
@freekmurze , would you accept a PR that fixes this?

[2021-01-19 16:47] freekmurze commented on #129
Yup, please send a PR 👍

[2021-01-21 09:20] anurat opened #131 "combine arguments with default arguments"
I see that currently the initial arguments will be replaced with arguments provided.

However it will be useful to have default arguments which do not get replaced by provided arguments.
For example if we have
[code]
and provide some more arguments (phpunit-watcher watch --filter=some_test)
then both arguments are used.

I use --filter quite often and would love it not to replace the default argum

[2021-01-23 15:00] karneaud commented on #110
I am also experiencing this issue? Is there a solution?

[2021-05-06 15:00] iandunn commented on #131
This looks like a duplicate of #129

[2021-05-12 18:42] SamuelNitsche opened #135 "Fatal error: Cannot redeclare composerRequireccc446ee119412ee86368ef685c2dae8"
When running `phpunit-watcher watch` I get the following error.

The error occurs when running it globally and locally installed.

This is all the output.

[code]

[2021-05-20 12:28] iandunn commented on #129
Hi @freekmurze , regular contributors don't have access to re-open issues, but this is still an active bug. Do you mind re-opening this?

There's a promising fix in #130, but it's blocked waiting for some feedback.

[2021-05-21 08:51] aakarim opened #136 "Feature Request: 'Press f to run failed tests'"
I love this tool and use it almost every day.

I also use Jest, which I know is a source of inspiration. In recent released I've noticed Jest has a 're-run failed tests' feature, which is really really useful. Especially if the watcher turns up hundreds of related tests and only one or two are failing.

The spec is, when you have a test that fails, you press f and it will only re-run those tests w

[2021-06-24 19:25] iandunn commented on #129
@freekmurze , since #130 was too much complexity, do you have any thoughts on other approaches to solve this?

[2021-09-07 10:03] #131 closed

[2021-09-07 14:39] iandunn commented on #129
Bumping to keep open.

[2021-09-13 10:03] #135 closed

[2021-09-22 10:04] #136 closed

[2021-11-14 20:17] henze-housepedia opened #137 "latest version 1.23.2 shows 1.12.1"
I have digged in the sourcecode zipfile accompanied on the releases page, it says 1.12.1. Where as the current code 1.23.2.

i have checked the latest commit of the master branch: that one says 1.23.2

[2021-11-15 08:01] freekmurze commented on #137
Don't mind that version number in the code. When composer pulls in the package, it will get the latest available version.

[2021-11-15 08:01] #137 closed

[2021-11-15 08:11] henzeb opened #138 "PHP 8.1 compatibility"
Deprecated: trim(): Passing null to parameter #1 ($string) of type string is deprecated in /home/www-data/.composer/vendor/spatie/phpunit-watcher/src/WatcherCommand.php when running it with 8.1RC05

amongst others.

[2021-11-15 08:14] freekmurze commented on #138
Feel free to submit PRs for PHP 8.1 compatibility.

[2021-11-24 22:12] avrahamappel commented on #53
Seeing this as well. Bump

[2022-01-10 11:05] #129 closed

[2022-01-10 21:18] iandunn commented on #129
Hi @freekmurze , regular contributors don't have access to re-open issues, but this is still an active bug. Do you mind re-opening this?

I think the next step is to get your feedback on https://github.com/spatie/phpunit-watcher/issues/129#issuecomment-867894955

[2022-01-31 11:49] dkd-kaehm opened #143 "[BUG] Array to string conversion in WatcherCommand on line 121"
The `fileMask` can be an array, which works as expected, but by starting the watching the warn notice is shown and the message does not contain the configured fileMask properly.

See:

https://github.com/spatie/phpunit-watcher/blob/cf2f5e6994934f364f38c503c00eebaad905fbb8/src/WatcherCommand.php#L121

[2022-01-31 11:51] freekmurze commented on #143
Feel free to send a PR with a fix.

[2022-01-31 11:57] #143 closed

[2022-01-31 11:57] #138 closed

[2022-02-16 11:51] flexchar opened #145 "Laravel 9 & PHP 8.1 Support"
Some of the packages are hardly maintained. Perhaps it's possible to look for alternative options.

Also, since @freekmurze greatly works with Laravel, I'm curious how you solve issues with keeping Laravel up-to-date and still keep using this package?

Cheers!

[2022-02-16 12:49] freekmurze commented on #145
This package support PHP 8.1 and there are no Laravel specific bits 👍

[2022-02-16 12:49] #145 closed

[2022-02-16 15:43] flexchar commented on #145
You're right about PHP 8.1! However there is one package in collision in regards to Laravel. I've been upgrading in several projects & stumbled upon the same. Please correct me if I'm wrong.

Seems like `nunomaduro/collision:6` requires at least `symfony/console:6` yet `yosymfony/resource-watcher` (used by this watcher package) only accepts `symfony/console` below version 6.

This https://github.c

[2022-02-20 04:47] KentarouTakeda commented on #145
@flexchar
FYI,I had the same problem, It was possible to avoid it with [bamarni/composer-bin-plugin](https://packagist.org/packages/bamarni/composer-bin-plugin)  .

You can independently manage the dependencies of the tools used in the same project.

[2022-02-27 01:06] juliancesar commented on #114
I'm having the same issue from a fresh install of Laravel 9. I'm using php 8.0. Please help!

[2022-02-27 02:25] brightantwiboasiako opened #146 "Cannot redeclare composerRequired346c5441e2a9b0583ced00554218f59()"
Fatal error: Cannot redeclare composerRequired346c5441e2a9b0583ced00554218f59() (previously declared in .../vendor/composer/autoload_real.php:73) in .../vendor/composer/autoload_real.php on line 73

It appears this only happens in phpstorm and not vs-code. Running in a fresh install of Laravel 9 and running php 8.1.

[2022-03-12 18:49] bianchi commented on #145
Same problem here

[2022-03-13 19:32] freekmurze commented on #146
I could not reproduce this.

[2022-03-13 19:32] #146 closed

[2022-04-07 10:08] crux commented on #63
nothing of the above works :(

1. COMPOSER_PROCESS_TIMEOUT=0
has no effect.

2. ./vendor/bin/phpunit-watcher watch --timeout 0
does not even exists:

....
PHPUnit 9.5.20 #StandWithUkraine
Unknown option "--timeout"

[2022-04-07 18:25] iandunn commented on #63
Did you try [`config.process-timeout` in `composer.json`](https://github.com/spatie/phpunit-watcher/issues/63#issuecomment-545633709)? That's still working for me.

[2022-04-07 21:29] crux commented on #63
I do not even use composer for running the script. What was finally working was adding a config file setting:

[code]

interestingly, I could not find a way to set this option via any other means, like phpunit.xml for example.

I realy hate this ecosystem. So many packages, so unbelievable bad quality, so much crappy software,

[2022-04-25 15:32] mcallan83 opened #147 "Can't install in a Laravel 9 project"
There seem to be some composer conflicts that prevent this from being installed in a new Laravel 9 project. This is related to #145, which was closed.

`composer require spatie/phpunit-watcher --dev`

Output:

[code]

[2022-05-11 15:36] IlyaVorozhbit opened #148 "Какой-то страшный хэштег"
Привет! :ru:

Хотел сказать, что у вас странный хэштег появился в пхпюнитвотчере

#StandWithUkraine

Удолите плиз, бесит

или добавьте ещё

#GoodLuckTheUsa

[2022-05-11 16:51] IlyaVorozhbit commented on #148
ок, господам дизлайкерам объясню: я не имею политической точки зрения никакой. политика для политиков

[2022-05-11 16:51] IlyaVorozhbit commented on #148
обычных граждан оскорблять не собираюсь и не делаю этого ни в коем случае, это посыл (кому?) - политикам

[2022-05-11 16:52] s-chizhik commented on #148
Searching politicians on GitHub? Lol

[2022-05-11 16:54] IlyaVorozhbit commented on #148
ставьте любые реакции, какие захотите, мне - всё равно. что хотел донести - донёс. остальное - дело ваше.

[2022-05-11 16:54] #148 closed

[2022-05-11 16:59] s-chizhik commented on #148
@IlyaVorozhbit so proudly talked about the position and closed the issue.

Lol

[2022-05-11 16:59] IlyaVorozhbit commented on #148
@s-chizhik #StopHatingRussia

[2022-05-11 17:04] IlyaVorozhbit commented on #148
![image](https://user-images.githubusercontent.com/5056861/167906818-955b94bb-9ae2-4c9b-9657-b22c5f1688a0.png)
think about it

[2022-05-11 17:06] s-chizhik commented on #148
@IlyaVorozhbit

I know a couple of languages and choose appropriate for any community I'm in. You are (russians) the only source of russophobia. Don't put your responsibility on the rest of the world.

[2022-05-11 17:08] s-chizhik commented on #148
You can make your own helpful Laravel packages and put any hashtag you consider appropriate.

[2022-05-11 17:13] IlyaVorozhbit commented on #148
Ок бро Просто ты мне говоришь про мирных жителей У меня брат в Киеве. Хочешь продолжить действительно этот диалог? --Отправлено из мобильной Яндекс Почты11.05.2022, 20:08, "Sergey Chizhik" ***@***.***>:
You can make your own helpful Laravel packages and put any hashtag you consider appropriate.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you wer

[2022-05-11 17:16] s-chizhik commented on #148
@IlyaVorozhbit you have started this issue, and you are continuing to discuss it 🤷‍♂️

Just stop writing messages, and this dialog will be ended.

[2022-07-08 12:19] AdrianHL opened #149 "Timeout"
First of all, nice package and thanks for offering this to the community.

I have tried to use this in one of our projects and I'm getting a timeout. I have tried to include the bits required in composer to avoid this issue but it is still happening.

[code]

I have these bits in my `composer.json`:

[code]

and

[code]

By the way the version in the console output does not match

[2022-08-11 18:59] Jehadalmaliki commented on #72
So helpful , Thanks

[2022-08-18 20:41] chuckienorton commented on #146
I am having the same issue. Laravel 9, php8.1, using global composer (composer installed via homebrew). I cannot install locally because of composer conflicts, else I would test to see if that's the issue.

[code]

I think has popped up before, with same laravel/php specs [here](https://github.com/spatie/phpunit-watcher/issues/135) and [here](https://github.com/spatie/phpunit-watcher/issues/114).

[2022-09-09 02:42] OldStarchy commented on #149
I'm also seeing this with PHP 8.0.22 and Composer 2.3.10, though it doesn't matter if I run it via composer or not.

[2022-10-12 16:37] iandunn commented on #63
The advice from the `README` file also worked for me:

[code]